<div class="container" style="padding-top: 120px;">
    <h3>Equipo</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore saepe quod debitis non sunt dolores. Dolore, possimus. Fugit cupiditate, quia consequuntur, itaque cum in ipsum rem quam quo, ut alias?
    </p>    
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="assets/img/user.png" width="20%">
            <br center>
            Integrante 1
        </div>        
        <div class="col-4">
            <img class="img-fluid" src="assets/img/user.png" width="20%">
            <br>
            Integrante 2
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/user.png" width="20%">
            <br>
            Integrante 3
        </div>              
        <div class="col-4">
            <img class="img-fluid" src="assets/img/user.png" width="20%">
            <br>            
            Integrante 4
        </div>
        <div class="col-4">
            <img class="img-fluid" src="assets/img/user.png" width="20%">
            <br>
            Integrante 5
        </div>
        
    </div>
</div>
